<!DOCTYPE html>
<html>
    <head>
        <title>Madlibs</title>
        
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Which type of madlib do you want to try?</h1>
        <form action="/cultForm" method="post">
            <button>Cult</button>
        </form>
        <form action="/wizardForm" method="post">
            <button>Wizards</button>
        </form>
        <form action="/meanGirlsForm" method="post">
            <button>Mean Girls</button>
        </form>
    </body>
</html>